* {
    border        : none;
    border-radius : 0;
    font-family   : Cantarell, Roboto, Helvetica, Arial, sans-serif;
    font-size     : 15px;
    font-weight   : bold;
}

window#waybar {
    background-color : rgba(0, 0, 0, 0.5);
    color            : #dddddd;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#network,
#bluetooth,
#pulseaudio,
#mode,
#temperature,
#custom-nordvpn,
#custom-pacman,
#custom-kernel,
#custom-listening-ports {
    padding : 0 6px;
    margin  : 0 6px;
}

#workspaces {
    padding-left : 0;
    margin-left  : 0;
}

#workspaces button {
    transition : background-color 200ms, color 200ms;
    min-width  : 12px;
}

#workspaces button.focused {
    background-color: rgba(255,152,0,0.7); /* AUTO */
    color: #ffffff;
}

@keyframes signal {
    to {
        border-color: rgba(200, 200, 200, 0.8);
    }
}

#workspaces button.urgent {
    border                    : 3px solid transparent;
    animation-name            : signal;
    animation-duration        : 1s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction       : alternate;
}

#network.disconnected, #network.disabled {
    color: #EF5350;
}

#battery {
    color: #1DE9B6;
}

#battery.charging {
    color: #FFA726;
}

@keyframes blink {
    to {
        color: #EF5350;
    }
}

#battery.critical:not(.charging) {
    animation-name            : blink;
    animation-duration        : 0.5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction       : alternate;
}

#cpu {
    color: #FFD54F;
}

#memory {
    color: #DCE775;
}

#network {
    color: #64B5F6;
}

#bluetooth {
    color: #CE93D8;
}

#disk {
    color: #C5E1A5;
}

#pulseaudio {
    color: #FFEE58;
}

#pulseaudio.muted {
    color: #EF5350;
}

#temperature {
    color: #C5E1A5;
}

#custom-nordvpn.connected {
    color: #1DE9B6;
}

#custom-nordvpn.connecting {
    color: #FFA726;
}

#custom-nordvpn.disconnected {
    color: #EF5350;
}

#custom-pacman {
    color: #00E5FF;
}

#custom-listening-ports {
    color: #FFAB40;
}
